<app-header [nombre_usuario] = "nombre_usuario" [userType]="userType" [cedula]="cedula"></app-header>

<br><br><br><br><br>

<div class="search-container">
  <input
    type="text"
    id="search-veterinario"
    class="search-input"
    placeholder="Buscar veterinario por nombre"
    [(ngModel)]="searchTerm"
    (keyup.enter)="buscarVeterinario()"
  />
  <button type="button" class="search-btn" id="btn-search" (click)="buscarVeterinario()">
    Buscar
  </button>
  <ng-container *ngIf=" this.userType == 'administrador'">
    <div>
      <a id="add-veterinario" class="search-btn" [routerLink]="['/veterinario/'+ cedula +'/add']" >Agregar</a>
    </div>
  </ng-container>

</div>
  
<table id = "veterianrios" class="TableMscota">
  
      <thead class="table-dark">
          <tr>
              <th>foto</th>
              <th>Id</th>
              <th>cedula</th>
              <th>nombre</th>
              <th>Correo</th>
              <th>Celular</th>
              <th>Options</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let veterinario of listaFiltrada">
              <td> 
                <img src="{{veterinario.foto}}" 
                style="width: 100px; height: 100px;" 
                alt="cliente"
                />
              </td>
              <td> {{veterinario.id}}</td>
              <td> {{veterinario.cedula}}</td>
              <td> {{veterinario.nombre}}</td>
              <td> {{veterinario.correo}}</td>
              <td> {{veterinario.especialidad}}</td>
              <td><a [routerLink]="['/veterinario/'+cedula+'/find/', veterinario.id]" class="options-link" >
                <img src="https://static.vecteezy.com/system/resources/previews/009/356/887/non_2x/eye-icon-sign-symbol-design-free-png.png" width="40px" class="option-icon" alt="Ver">
              </a>
              <a [routerLink]="['/veterinario/'+cedula+'/update', veterinario.id]" class="options-link">
                <img src="https://cdn-icons-png.flaticon.com/128/45/45406.png" width="40px" class="option-icon" alt="Editar">
              </a>
              <a  class="options-link" (click)="eliminarVeterinario(veterinario)">
                <img src="https://cdn-icons-png.flaticon.com/512/1017/1017479.png" width="40px" class="option-icon" alt="Eliminar">
              </a>
              </td>
              
          </tr>
      </tbody>
  </table>
