<app-header [nombre_usuario]="nombre_usuario" [userType]="userType" [cedula]="cedula"></app-header>

<div class="container">
    <div class="form-container">
        <h2 class="form-title">Información de la mascota</h2>
        <div class="datos-mascota">
            <img src="{{mascota.foto}}" alt="mascota" class="imagen-mascota">
            <div class="tabla-mascota">
                <span class="titulo-atributo">✜ Nombre</span><br>
                <span class="atributo">{{mascota.nombre}}</span><br><br>

                <span class="titulo-atributo">✜ Raza</span><br>
                <span class="atributo">{{mascota.raza}}</span><br><br>

                <span class="titulo-atributo">✜ Edad</span><br>
                <span class="atributo">{{mascota.edad}}</span><br><br>

                <span class="titulo-atributo">✜ Peso</span><br>
                <span class="atributo">{{mascota.peso}}</span><br><br>

                <span class="titulo-atributo">✜ Enfermedad</span><br>
                <span class="atributo">{{mascota.enfermedad}}</span><br><br>
            </div>
        </div>
        <h3 class="form-title">HISTORIAL MEDICO</h3>
        <div *ngIf="listaTratamientosDTO && listaTratamientosDTO.length > 0; else noTratamientos" class="mascotas-container">
            <div *ngFor="let TratamientoDTO of listaTratamientosDTO" class="tarjeta-mascota">
                <div class="tabla-mascota">
                    <span class="titulo-atributo">✜ Fecha</span>
                    <span class="atributo">{{TratamientoDTO.fechaConsulta}}</span><br><br>

                    <span class="titulo-atributo">✜ Cantidad</span>
                    <span class="atributo">{{TratamientoDTO.cantidad}}</span><br><br>

                    <span class="titulo-atributo">✜ NombreDroga</span>
                    <span class="atributo">{{TratamientoDTO.nombreDroga}}</span><br><br>

                    <span class="titulo-atributo">✜ Veterinario</span>
                    <span class="atributo">{{TratamientoDTO.nombreVeterinario}}</span><br><br>
                </div>
            </div>
        </div>
        <ng-template #noTratamientos>
            <p class="atributo">No se encontraron mascotas para este cliente.</p>
        </ng-template>
    </div>
</div>

<div class="button-container-bottom">
    <ng-container *ngIf="this.userType === 'veterinario'">
        <button id="add-tratamiento" class="btn btn-primary" [routerLink]="['/tratamiento', cedula, 'add' , idmascota]">Agregar Tratamiento</button>
    </ng-container>
    <button [routerLink]="['/mascotas/' + cedula]" class="btn btn-primary">Volver</button>
</div>
