.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding-top: 7%;

  .form-container {
      background-color: #ffdab3;
      padding: 50px;
      border-radius: 10px;
      border: 3px solid #000000;
      box-shadow: 30px 30px 8px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      width: 600px;
      align-items: center;

      .form-title {
          text-align: center;
          margin-bottom: 20px;
          color: #653e2d;
          font-size: 28px;
          font-weight: bold;
      }

      .datos-veterinario {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 40px;

          .imagen-veterinario {
              width: 150px;
              height: 150px;
              border-radius: 10px;
              margin-bottom: 15px;
              object-fit: cover;
          }

          .tabla-veterinario {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;

              .titulo-atributo {
                  font-weight: bold;
                  color: #653e2d;
                  font-size: 18px;
                  margin-top: 5px;
              }

              .atributo {
                  color: #653e2d;
                  background-color: white;
                  padding: 5px;
                  font-size: 16px;
                  border-radius: 5px;
                  width: 100%;
                  margin-top: 5px;
                  text-align: center;
              }
          }
      }
  }
}

.button-container-bottom {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  .btn {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
          background-color: #0056b3;
      }
  }
}
