<br><br><br><br><br>
<br><br><br><br><br>


<div class="container">
    <div class="form-container">
        <h2 class="form-title">Información del cliente</h2>
        <div class="datos-veterinario">
            <img src="{{veterinario.foto}}" 
            style="width: 100px; height: 100px;" 
            alt="veterinario"
            class="imagen-veterinario">

            <div class="tabla-veterinario">
                
                <span class="titulo-atributo">✜ Nombre</span><br>
                <span class="atributo" >{{veterinario.nombre}}</span><br><br>
        
                <span class="titulo-atributo">✜ Cedula</span><br>
                <span class="atributo" >{{veterinario.cedula}}</span><br><br>

                <span class="titulo-atributo">✜ Correo</span><br>
                <span class="atributo" >{{veterinario.correo}}</span><br><br>

                <span class="titulo-atributo">✜ Celular</span><br>
                <span class="atributo" >{{veterinario.celular}}</span><br><br>

                <span class="titulo-atributo">✜ Especialidad</span><br>
                <span class="atributo" >{{veterinario.especialidad}}</span><br><br>

                

            </div>
        </div>
    </div>
</div>
<button (click) ="siguiente()" class="btn btn-primary"> Siguiente</button>
<a class="btn btn-primary" [routerLink]="['/veterinarios/all']"> Tabla</a>
