<div id="home" class="home">
    <div class="overlay"></div>
    <h2 class="home-titulo">LO MEJOR PARA TU MASCOTA</h2>
</div>

  <!-- Sección "Nosotros" -->
<div id="nosotros" class="nosotros-overlay">
    <div class="imagen-huellas"></div>
    <div class="rectangulo-nosotros">
      <div class="elipse-imagen-nosotros"></div>
      <p class="bienvenidos-a-fellinlove-veterinaria">
        Bienvenidos a Fellinlove Veterinaria, el lugar donde la salud y el bienestar de los gatos son nuestra prioridad. Desde nuestra fundación en 1998, nos hemos dedicado exclusivamente a ofrecer atención médica y cuidado especializado para felinos, con el propósito de proporcionarles un ambiente sereno y amoroso.
      </p>
      <h1 class="clinica-veterinaria">Clínica Veterinaria</h1>
      <a href="#" class="contactanos-btn">Contáctanos</a>
    </div>
</div>

  <!-- Sección "Servicios" -->
   <br><br><br>
   <br><br><br>
   <br><br><br>
   <!-- Sección "Nuestra mision" -->
<section class="nuestra-mision">
    <h1 class="mision-titulo">Nuestra misión es la salud y bienestar de tus mascotas.</h1>
    <h2 class="mision-subtitulo">Hacemos que esto sea posible brindándoles un servicio de clínica veterinaria integral y de excelente calidad.</h2>
  
    <div class="slider-container">
      <div class="slider">
        <div class="slide">
          <img class="slide-image" src="https://images.stockcake.com/public/2/9/0/290de399-bfe9-414d-9425-60f12264d4f4_large/veterinarian-cuddling-kitten-stockcake.jpg" alt="gato siendo atendido">
          <div class="slide-content">
            <h3 class="slide-title">Cuidado de Alta Calidad</h3>
            <p class="slide-text">Nuestra misión es brindar a tu felino el cuidado y la atención de la más alta calidad, asegurando que cada aspecto de su bienestar sea atendido con esmero y dedicación.</p>
          </div>
        </div>
        <div class="slide">
          <img class="slide-image" src="https://images.stockcake.com/public/9/0/5/9056c727-1d92-4bb3-b482-e57b7328f261_large/veterinarian-examining-kitten-stockcake.jpg" alt="gato siendo cuidado">
          <div class="slide-content">
            <h3 class="slide-title">Disponibilidad 24/7</h3>
            <p class="slide-text">Nuestra misión es proporcionar a tu felino el mejor cuidado posible, las 24 horas del día, los 7 días de la semana. Estamos comprometidos a estar siempre disponibles para atender cualquier necesidad que pueda surgir.</p>
          </div>
        </div>
        <div class="slide">
          <img class="slide-image" src="https://images.stockcake.com/public/2/6/e/26e57dbe-4470-429d-8495-307233900fce_large/veterinarian-with-cat-stockcake.jpg" alt="gato siendo tratado">
          <div class="slide-content">
            <h3 class="slide-title">Atención Oportuna</h3>
            <p class="slide-text">Ofrecemos citas disponibles para tu gatito, entendiendo la importancia de una atención oportuna y personalizada.</p>
          </div>
        </div>
      </div>
  
      <!-- Controles del Slider -->
      <button class="prev">❮</button>
      <button class="next">❯</button>
    </div>
</section>
 
    <br><br><br>
    <br><br><br>
<!-- -----------------------------------------------------------------------Sección "Servicios" ------------------------------------------------------------------------------------------------------------------------------>
<section class="services">
     <h2>Servicios</h2>
     <p>En Fellinlove ofrecemos todos los servicios de clínica veterinaria para tu felino.</p>
     <div class="service-container">
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/15879/15879403.png" alt="Consulta general">
             <h3>Consulta general</h3>
             <a href="#">Agendar consulta</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/9757/9757050.png" alt="Consulta nutricional">
             <h3>Consulta nutricional</h3>
             <a href="#">Agendar consulta</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/12048/12048489.png" alt="Urgencias Veterinarias 24/7">
             <h3>Urgencias Veterinarias 24/7</h3>
             <a href="#">Encuentra tu clínica</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/8624/8624769.png" alt="Baño y Peluquería">
             <h3>Baño y Peluquería</h3>
             <a href="#">¡Agendá tu cita ya!</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/1068/1068891.png" alt="Cardiología">
             <h3>Cardiología</h3>
             <a href="#">Agenda tu consulta</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/1041/1041327.png" alt="Profilaxis">
             <h3>Profilaxis</h3>
             <a href="#">Conoce más</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/1615/1615222.png" alt="Esterilización">
             <h3>Esterilización</h3>
             <a href="#">Agenda Cita</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/3626/3626796.png" alt="Exámenes de laboratorio">
             <h3>Exámenes de laboratorio</h3>
             <a href="#">Llámanos</a>
         </div>
         <div class="service">
             <img src="https://cdn-icons-png.flaticon.com/128/4666/4666723.png" alt="Vacunación">
             <h3>Vacunación</h3>
             <a href="#">Contáctanos</a>
         </div>
     </div>
</section>