
<br><br><br><br><br>

<div class="button-container">
  <a class="ButtonVA" [routerLink]="['/mascota/add']" th:text="Agregar">Agregar</a>
  <a class="ButtonVA"  [routerLink]="['/']" th:text="Volver">Volver</a>
</div>

<table class="table table-striped table-bordered border-primaryx" style="width: 80%; margin: 0 auto; text-align: center;">

    <thead class="table-dark">
        <tr>
            <th>foto</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>
            <th>Peso</th>
            <th>Enfermedad</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
      <br>
        <br>
        <tr *ngFor="let mascota of mascotaList">
            <td> 
              <img src="{{mascota.foto}}" 
              style="width: 100px; height: 100px;" 
              alt="mascota"
              />
            </td>
            <td> {{mascota.id}}</td>
            <td> {{mascota.nombre}}</td>
            <td> {{mascota.raza}}</td>
            <td> {{mascota.edad}}</td>
            <td> {{mascota.peso}}</td>
            <td> {{mascota.enfermedad}}</td>
            <td><a [routerLink]="['/mascota/find', mascota.id]" class="options-link" >
              <img src="https://static.vecteezy.com/system/resources/previews/009/356/887/non_2x/eye-icon-sign-symbol-design-free-png.png" width="40px" class="option-icon" alt="Ver">
            </a>
            <a [routerLink]="['/mascota/update', mascota.id]" class="options-link">
              <img src="https://cdn-icons-png.flaticon.com/128/45/45406.png" width="40px" class="option-icon" alt="Editar">
            </a>
            <a  class="options-link" (click)="eliminarMascota(mascota)">
              <img src="https://cdn-icons-png.flaticon.com/512/1017/1017479.png" width="40px" class="option-icon" alt="Eliminar">
            </a>
            </td>
            
        </tr>
    </tbody>
</table>


