header {
  display: flex;
  align-items: center;
  background-color: #5383c1;
  padding: 10px;
  img {
    height: 50px;
  }
  ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    li {
      margin-left: 20px;
      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: #cce1ff;
        }
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#cuadro {
  background-color: #5383c1;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
  }

  .row {
    margin-bottom: 15px;

    label {
      font-weight: bold;
      color: white;
      margin-bottom: 5px;
    }

    .form-control {
      border-radius: 8px;
      border: 2px solid #ffffff;
    }
  }

  .btn {
    width: 100%;
    background-color: #1c7430;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 10px;

    &:hover {
      background-color: #145822;
    }
  }
}

.text-danger {
  color: #ffcccc;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;

  .ButtonVA {
    padding: 10px 20px;
    background-color: #80C4F9;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #68B0E9;
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    &:active {
      background-color: #5DA8E0;
      transform: translateY(0);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
