<app-header></app-header>

<br><br><br><br>
  
<main>
    <div class="container mt-4 contenedor">
      <!-- Tarjetas de estadísticas -->
      <div class="row mb-4 cards-container">
        <div class="col-lg-4" *ngFor="let kpi of kpis">
          <div class="card text-center shadow-sm card-hover mb-4">
            <div class="card-body">
              <h5 class="card-title">{{ kpi.title }}</h5>
              <p id="kpi-value" class="card-text display-4">
                <!-- Verificar si es un valor numérico o string -->
                <ng-container
                  *ngIf="
                    kpi.title.includes('Ventas') ||
                      kpi.title.includes('Ganancias');
                    else numero
                  "
                >
                  {{ kpi.value | currency : "USD" : "symbol" : "1.2-2" }}
                </ng-container>
                <ng-template #numero>
                  {{ kpi.value }}
                </ng-template>
              </p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Top 3 de tratamientos más usados -->
      <div class="graficos">
        <div class="row mb-4">
          <div class="col-lg-12">
            <h3 class="text-center">Top 3 tratamientos más vendidos</h3>
            <canvas id="top3_tratamientos"></canvas>
          </div>
        </div>
        <div class="cantidades">
          <div class="cantidad-tratamientos">
            <h3> Cantidad total de tratamientos suministrados </h3>
            <p id="total-tratamientos" >{{ totalTratamientos }}</p>
          </div>
          <div class="cantidad-tratamientos">
            <h3> Cantidad total de mascotas activas </h3>
            <p>{{ mascotasActivas }}</p>
          </div>
        </div>
      </div>
  
    </div>
</main>