<app-header [nombre_usuario] = "nombre_usuario" [userType]="userType" [cedula]="cedula" ></app-header>
<br><br><br><br>
  
<main>
    <div class="container mt-4 contenedor">
      <!-- Tarjetas de estadísticas -->
      <div class="row mb-4 cards-container">
        <div class="col-lg-4">
          <h1>Ganancias totales:</h1>
          <div class="cantidades">
            <p>{{ gananciasTotal | currency }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <h1>Ventas totales:</h1>
          <div class="cantidades">
            <p>{{ ventasTotal | currency }}</p>
          </div>
        </div>
      </div>

      <br>

      <div class="cantidades">
        <div class="cantidad-tratamientos">
          <h3> Cantidad total de tratamientos suministrados </h3>
          <p id="total-tratamientos" >{{ totalTratamientos }}</p>
        </div>
        <div class="cantidad-tratamientos">
          <h3> Cantidad total de mascotas activas </h3>
          <p>{{ mascotasActivas }}</p>
        </div>
        <table class="table table-striped table-bordered border-primaryx" style="width: 60%; margin: 0 auto; text-align: center;">
          <thead>
            <tr>
              <th>Tratamiento</th>
              <th>Cantidad</th>
              <th>Comprar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let droga of drogas_escasas">
              <td>{{ droga.nombre }}</td>
              <td>{{ droga.unidadesDisponibles }}</td>
              <td><a href="{{ droga.link }}" target="_blank"><img src="https://cdn-icons-png.flaticon.com/128/2420/2420157.png" alt="Icono de Link" style="width: 25px;"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>
  
      <!-- Top 3 de tratamientos más usados -->
      <div class="graficos">
        <div class="row mb-4">
          <div class="col-lg-12">
            <h3 class="text-center">Top 3 tratamientos más vendidos</h3>
            <canvas id="top3_tratamientos"></canvas>
          </div>
        </div>
      </div>
  
    </div>
</main>