<app-header [nombre_usuario] = "nombre_usuario" [userType]="userType" [cedula]="cedula"></app-header>
<br><br><br><br><br>

<div class="button-container">
  <a class="ButtonVA" [routerLink]="['/Nuevocliente']" th:text="Agregar">Agregar</a>
  <a class="ButtonVA" th:href="@{/}" th:text="Volver">Volver</a>
</div>

<table class="table table-striped table-bordered border-primaryx" style="width: 80%; margin: 0 auto; text-align: center;">

    <thead class="table-dark">
        <tr>
            <th>foto</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Correo</th>
            <th>Celular</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
      <br>
        <br>
        <tr *ngFor="let cliente of clienteList">
            <td> 
              <img src="{{cliente.foto}}" 
              style="width: 100px; height: 100px;" 
              alt="cliente"
              />
            </td>
            <td> {{cliente.id}}</td>
            <td> {{cliente.nombre}}</td>
            <td> {{cliente.cedula}}</td>
            <td> {{cliente.correo}}</td>
            <td> {{cliente.celular}}</td>

            <ng-container *ngIf=" this.userType== 'veterinario'">
            <td><a (click)="mostrarCliente(cliente)" class="options-link" >
              <img src="https://static.vecteezy.com/system/resources/previews/009/356/887/non_2x/eye-icon-sign-symbol-design-free-png.png" width="40px" class="option-icon" alt="Ver">
            </a>
            <a (click)=" modificarCliente(cliente)" class="options-link">
              <img src="https://cdn-icons-png.flaticon.com/128/45/45406.png" width="40px" class="option-icon" alt="Editar">
            </a>
            <a  class="options-link" (click)="eliminarCliente(cliente)">
              <img src="https://cdn-icons-png.flaticon.com/512/1017/1017479.png" width="40px" class="option-icon" alt="Eliminar">
            </a>
          </ng-container>

          <ng-container *ngIf=" this.userType== 'administrador'">
            <td><a (click)="mostrarCliente(cliente)" class="options-link" >
              <img src="https://static.vecteezy.com/system/resources/previews/009/356/887/non_2x/eye-icon-sign-symbol-design-free-png.png" width="40px" class="option-icon" alt="Ver">
            </a>
            <a (click)=" modificarCliente(cliente)" class="options-link">
              <img src="https://cdn-icons-png.flaticon.com/128/45/45406.png" width="40px" class="option-icon" alt="Editar">
            </a>
            <a  class="options-link" (click)="eliminarCliente(cliente)">
              <img src="https://cdn-icons-png.flaticon.com/512/1017/1017479.png" width="40px" class="option-icon" alt="Eliminar">
            </a>
            </td>
          </ng-container>
        </tr>
    </tbody>
</table>


