
<nav class="menu">
    <div class="logo-container">
      <div class="logo"></div>
      <div class="logo-text">Fellinlove</div>
    </div>
    <ul>
      <li><a href="#nosotros" class="menu-item nosotros">NOSOTROS</a></li>
      <li><a href="#servicios" class="menu-item servicio">SERVICIOS</a></li>
      <ng-container *ngIf="nombre_usuario">
        <ng-container *ngIf="userType == 'cliente'">
          <li><a [routerLink]="['/mascotas/cliente/' + cedula]" class="menu-item servicio">MIS MASCOTAS</a></li>
          <li><a href="#home" class="menu-item iniciar-sesion">{{nombre_usuario}}</a></li>
        </ng-container>
        <ng-container *ngIf="userType == 'veterinario'">
          <li><a [routerLink]="['/mascotas/all']" class="menu-item servicio">MASCOTAS</a></li>
          <li><a [routerLink]="['/mascotas/' + cedula]" class="menu-item servicio">TRATAMIENTOS</a></li>
          <li><a href="#home" class="menu-item iniciar-sesion">{{nombre_usuario}}</a></li>
        </ng-container>
        <ng-container *ngIf="userType == 'administrador'">
          <li><a [routerLink]="['/mascotas/all']" class="menu-item servicio">MASCOTAS</a></li>
          <li><a [routerLink]="['/mascotas/' + cedula]" class="menu-item servicio">TRATAMIENTOS</a></li>
          <li><a [routerLink]="['/mascotas/' + cedula]" class="menu-item servicio">CLIENTES</a></li>
          <li><a [routerLink]="['/mascotas/' + cedula]" class="menu-item servicio">VETERINARIOS</a></li>
          <li><a href="#home" class="menu-item iniciar-sesion">{{nombre_usuario}}</a></li>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!nombre_usuario">
        <li><a [routerLink]="['/login']" class="menu-item iniciar-sesion">INICIAR SESIÓN</a></li>
      </ng-container>
    </ul>
</nav>